/.idea/
/data/
/Authentifizierungsdienst/migrations/
.env
/Authentifizierungsdienst/venv/
/Authentifizierungsdienst/readme.md
/Authentifizierungsdienst/setup_environment.cmd
/Authentifizierungsdienst/authentication/migrations/
/Konfiguration/TLS Zertifikate/
